# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1.5-browsers

    working_directory: ~/repo

    dependencies:
        post:
          - sudo cp ~/mkomatinovic.github.io /etc/apache2/sites-available
          - sudo a2ensite mkomatinovic.github.io
          - sudo service apache2 restart

    steps:
      - checkout
